@layout CenteredCardLayout
@page "/"
@using CRM.Admin.Components.Layout

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.overline" Style="display: block; text-align: center;">ВХІД В "AWESOME TOURISM CRM"</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudInput T="string" Placeholder="Ваш Email" Label="Email" Immediate="true" Variant="Variant.Outlined" @bind-Value="@_email" InputType="InputType.Email"/>
    <br/>
    <MudInput T="string" Placeholder="Пароль" Label="Пароль" Immediate="true" Variant="Variant.Outlined" @bind-Value="@_password" InputType="InputType.Password"/>
    <br/>
    <MudLink Class="ml-auto" Href="/ForgotPassword">Забули пароль?</MudLink>
    <br/>
    <div>
        <MudButton OnClick="LogIn" Variant="Variant.Filled" Size="Size.Large" EndIcon="@Icons.Material.Filled.Login" Style="width: 100%; height: 56px; background-color: #ff5722; color: white;">ВХІД</MudButton>
    </div>
    @if (!string.IsNullOrEmpty(_message))
    {
    <MudAlert Severity="_alertSeverity" OnClose="ClearMessage">@_message</MudAlert>
    }
</MudCard>